*
{
    padding: 0;
    margin: 0;box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.newsfeed
{
    border: 2px solid white;
    height: 500px;
    width: 100%;
    background-color:rgb(230, 227, 227);
    position: relative;
    
}
.newsfeed1
{
    /* border: 2px solid red; */
    height: 400px;
    width: 300px;
    background-color: white;
    position: absolute;
    top: 50%;
    left:28%;
    transform: translate(-50%,-50%);
    border-radius: 10px 0px 0px 10px;
    
}
.newsfeed2 
{
    /* border: 2px solid black; */
    border-left: 3px solid black;
    height: 400px;
    width: 800px;
    background-color: white;
    margin-top: 48px;
    margin-left: 685px;
    border-radius: 0px 10px 10px 0px;
}

